<!DOCTYPE html>
<html>
	<head>
		<%- include head %>
	</head>
	<body>
		<%- include title %>
		<%- include navbar %>
		<%- include flashinfo %>
		<br>
		<% if (tags) { %>
			<% tags.forEach(function (tag, index) { %>	
				<% if (tag) %>	
				<a class="tag" href="/tags/<%= encodeURIComponent(tag) %>"><%= tag %></a>
			<% }) %>
		<% } %>
		<%- include foot %>
		<%- include script %>
	</body>
</html>
