<!DOCTYPE html>
<html>
	<head>
		<%- include head %>
	</head>
	<body>
		<%- include title %>
		<%- include usernavbar %>
		<%- include flashinfo %>
		<p><h2><%= post.title %></h2></p>
		<p class="info">
		<label>作者：</label><a href="/u/<%= post.name %>"><%= post.name %></a> | 
		<label>日期：</label><%= post.time.minute %> |
		<label>标签：
		<% if (post.tags) { %>
			<% post.tags.forEach(function (tag, index) { %>
				<a class="tag" href="/tags/<%= tag %>"><%= tag %></a>
			<% }) %>
		<% } %>
		</label>
		<% if (locals.user.name === post.name) { %> | 
		<label><a href="/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>/rewrite">修改文章</a></label> |
		<label><a href="/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>/delete">删除这篇</a></label>
		<% } %>
		</p>
		<p><%- post.post %></p><br>
		<hr>
		<%- include comment %>
		<%- include foot %>
	</body>
</html>
