<!DOCTYPE html>
<html>
	<head>
		<%- include head %>
	</head>
	<body>
		<%- include title %>
		<%- include adminnavbar %>
		<%- include flashinfo %>
		<ul>
			<li><a href='/admin/refinfo'>刷新数据</a></li>
			<li><a href='/admin/clsdb'>清空应用数据库</a></li>
		</ul>
		<%- include foot %>
	</body>
</html>
