<!DOCTYPE html>
<html>
	<head>
		<%- include head %>
	</head>
	<body>
		<%- include title %>
		<%- include navbar %>
		<%- include flashinfo %>
		<% posts.forEach(function (post, index) { %>
			<p><h2><a href="/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>"><%= post.title %></a></h2></p>
			<p class="info">
				<label>作者：</label><a href="/u/<%= post.name %>"><%= post.name %></a> | 
				<label>日期：</label><%= post.time.minute %> | 
				<label>评论数(<% if (post.comments) { %>
								<%= post.comments.length %>
							 <% } else { %>
								<label>0</label>
							 <% } %>)</label>
			</p>
			<p><%- post.post %></p>
			<hr>
		<% }) %>
		<%- include foot %>
	</body>
</html>