<!DOCTYPE html>
<html>
	<head>
		<%- include head %>
	</head>
	<body>
		<%- include title %>
		<% if (locals.admin) { %>
			<%- include adminnavbar %>
		<% } else { %>
			<%- include navbar %>
		<% } %>
		<%- include flashinfo %>
		<form method="post">
		<% if (post) { %>
			<label>文章标题：</label><input type="text" name="title" value='<%= post.title %>'></input><br>
			<label>添加标签：(最多支持5个标签)</label><input type="text" name="tags" value='<%= post.tags %>'></input><br>
			<label>文章正文：(支持markdown语法)</label><br>
			<textarea name="post" rows="20" cols="100"><%- post.post %></textarea><br>
		<% } else { %>
			<label>文章标题：</label><input type="text" name="title"></input><br>
			<label>添加标签：(最多支持5个标签)</label><input type="text" name="tags"></input><br>
			<label>文章正文：(支持markdown语法)</label><br>
			<textarea name="post" rows="20" cols="100"></textarea><br>
		<% } %>
			<input type="submit" value="发表" />
			<a href='/'>取消</a>
		</form>
		<%- include foot %>
	</body>
</html>
