<!DOCTYPE html>
<html>
	<head>
		<%- include head %>
	</head>
	<body>
		<%- include title %>
		<%- include adminnavbar %>
		<%- include flashinfo %>
		<ul>
			<li><a href='/admin/querypost'>查找文章</a></li>
			<li><a href='/admin/delpost'>删除文章</a></li>
			<li><a href='/admin/updatepost'>更新文章</a></li>
		</ul>
		<%- include foot %>
	</body>
</html>
