<!DOCTYPE html>
<html>
	<head>
		<%- include head %>
	</head>
	<body>
		<%- include title %>
		<% if (locals.admin) { %>
			<%- include adminnavbar %>
		<% } else { %>
			<%- include usernavbar %>
		<% } %>
		<%- include flashinfo %>
		<% if (locals.admin || (locals.user && locals.user.name === currentuser.name)) { %>
		<label>Id（用户唯一标识，不可更改）：</label><input type="text" readonly value='<%= currentuser.name %>'></input><br>
		<form method="post">
			<label>实名：</label><input type="text" name="realname" value='<%= currentuser.realname %>'></input><br>
			<label>E-mail：</label><input type="text" name="email" value='<%= currentuser.email %>'></input><br>
			<label>Tel：</label><input type="text" name="tel" value='<%= currentuser.tel %>'></input><br>
			<label>地址：</label><input type="text" name="address" value='<%= currentuser.address %>'></input><br>
			<label>大学：</label><input type="text" name="college" value='<%= currentuser.college %>'></input><br>
			<label>Q：</label><input type="text" name="qq" value='<%= currentuser.qq %>'></input><br>
			<label>标签（用逗号分隔，最多支持10个）：</label><input type="text" name="tags" value='<%= currentuser.tags %>'></input><br>
			<label>网站：</label><input type="text" name="website" value='<%= currentuser.website %>'></input><br>
			<label>性别：</label><input type="text" name="sex" value='<%= currentuser.sex %>'></input><br>
			<input type="submit" value="确认修改" />
			<a href='/u/<%= locals.user.name %>'>取消</a>
		</form>
		<% } else { %>
			<label>Id：<%= currentuser.name %></label><br>
			<label>实名：<%= currentuser.realname %></label><br>
			<label>E-mail：<%= currentuser.email %></label><br>
			<label>Tel：<%= currentuser.tel %></label><br>
			<label>地址：<%= currentuser.address %></label><br>
			<label>大学：<%= currentuser.college %></label><br>
			<label>Q：<%= currentuser.qq %></label><br>
			<label>标签：<%= currentuser.tags %></label><br>
			<label>网站：<%= currentuser.website %></label><br>
			<label>性别：<%= currentuser.sex %></label><br>
		<% } %>
		<%- include foot %>
		<%- include script %>
	</body>
</html>
