<!DOCTYPE html>
<html>
	<head>
		<%- include head %>
	</head>
	<body>
		<%- include title %>
		<%- include navbar %>
		<%- include flashinfo %>
		<% if (!posts.length) { %>
			<label>该话题暂时还没谈论:(</label><br>
		<% } else { %>
			<label>该话题下总共<%= posts.length %>篇文章</label><br>
		<% } %>
		<ul class="archive">
		<% posts.forEach(function (post, index) { %>
			<li><a href="/u/<%= post.name %>/<%= post.time.day %>/<%= post.postmark %>"><%= post.title %></a></li>
			
		<% }) %>
		</ul>
		<%- include foot %>
		<%- include script %>
	</body>
</html>
