<!DOCTYPE html>
<html>
	<head>
		<%- include head %>
	</head>
	<body>
		<%- include title %>
		<%- include usernavbar %>
		<%- include flashinfo %>
		<% posts.forEach(function (post, index) { %>
			<p><h2><a href="/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>"><%= post.title %></a></h2></p>
			<p class="info">
				<label>作者：</label><a href="/u/<%= post.name %>"><%= post.name %></a> | 
				<label>日期：</label><%= post.time.minute %> | 
				<label>评论数(<% if (post.comments) { %>
								<%= post.comments.length %>
							 <% } else { %>
								<label>0</label>
							 <% } %>)
				</label> |
				<label>标签：
				<% if (post.tags) { %>
					<% post.tags.forEach(function (tag, index) { %>
						<a class="tag" href="/tags/<%= tag %>"><%= tag %></a>
					<% }) %>
				<% } %>
				</label>
			</p>
			<p><%- post.post %></p>
			<hr>
		<% }) %>
		<%- include paginate %>
		<%- include foot %>
	</body>
</html>
